<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div style="background: linear-gradient(#FFE46F,#FFA643); border-radius: 4px 4px 0 0; border-bottom: 0;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="background-color:#000; padding: 1rem;" class="modal-body text-light">
                <div class="modal-title">
                    <h5>Cadastre-se</h5>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="userName">Nome</label>
                        <input type="text" placeholder="Nome" id="userName" class="form-control " required />
                    </div>
                    <div class="col-md-6">
                        <label for="userSurname">Sobrenome</label>
                        <input type="text" placeholder="Sobrenome" id="userSurname" class="form-control " required />
                    </div>
                </div>
                <div class="row mt-4 form-group">
                    <div class="col-md-12">
                        <label for="userEmail">Email</label>
                        <input type="email" placeholder="Email" id="userEmail" class="form-control" required />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <label for="userPassword">Senha</label>
                        <input type="password" placeholder="Senha" id="userPassword" class="form-control " required />
                    </div>
                </div>
            </div>
            <div style="background-color:#000; border-top: 0;" class="modal-footer">
                <button type="button" class="btn btn-warning" onclick="registerUser()">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
