<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="registerModalLabel">Cadastro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light text-dark">
                <div class="row">
                    <div class="col-md-6">
                        <label for="userName">Nome</label>
                        <input type="text" placeholder="Nome" id="userName" class="form-control " required />
                    </div>
                    <div class="col-md-6">
                        <label for="userSurname">Sobrenome</label>
                        <input type="text" placeholder="Sobrenome" id="userSurname" class="form-control " required />
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <label for="userEmail">Email</label>
                        <input type="email" placeholder="Email" id="userEmail" class="form-control" required />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <label for="userPassword">Senha</label>
                        <input type="password" placeholder="Senha" id="userPassword" class="form-control " required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning text-dark" onclick="registerUser()">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
